{% extends "@App/base_admin.html.twig" %}

{% block flash %}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}

{% block form %}

    <div class="register container">
        <a id="article-anch" class="anch d-md-none d-lg-block"></a>

        {# ENTETE DU FORMULAIRE #}
        <div class="createUser_logo row">
            <div class="offset-lg-1 d-md-none d-lg-block"></div>
            <div class="statut col-12 col-md-10 row">
                <h2 class="statut_it col-md-6 col-lg-4">{{ app.user.username }} !</h2>
                <div class="offset-md-2 d-md-none d-lg-block"></div>
                <p class="statut_it col-md-6 col-lg-6">
                    <span>Creation Article/Page ! </span>
                </p>
            </div>
            <div class="offset-lg-1 d-none d-lg-block"></div>
        </div>

        {# FORMULAIRE #}

        {{ form_start(formpost, {attr: {novalidate: 'novalidate', class:'formulaire container-fluid'}}) }}

        <div class="form_container">
            <h1>Votre article</h1>

            {#CHAMPS#}

            {#CORPS DE LA PAGE#}

            <div class="corps row">

                {# Titre  #}
                <h2 class="col-12 col-lg-6">Le titre</h2>
                <div class="field col-12 ">
                    {{ form_errors(formpost.titre) }}
                    {{ form_widget(formpost.titre, {'attr': {"class":'titre'}}) }}
                </div>
                {# categorie #}
                <h2 class="col-12 col-lg-6">Catégorie</h2>
                <div class="field col-12 col-lg-6 ">
                    {{ form_errors(formpost.categorie) }}
                    {{ form_widget(formpost.categorie, {'attr': {"class":'titre'}}) }}
                </div>



                {#Spectacle#}
                <h2 class="col-12 col-lg-6">Spectacle associé</h2>
                <div class="field col-12 col-lg-6 ">
                    {{ form_errors(formpost.leShow) }}
                    {{ form_widget(formpost.leShow) }}
                </div>




                <hr>
                <div class="offset-lg-1 d-md-none d-lg-block"></div>
                <h2 class="col-md-10 title">Texte principal</h2>
                <div class="offset-lg-1 d-md-none d-lg-block"></div>
                <div class="offset-lg-1 d-md-none d-lg-block"></div>
                <div class="textarea col-md-12">
                    {{ form_errors(formpost.text1) }}
                    {{ form_widget(formpost.text1) }}
                </div>
                <div class="offset-lg-1 d-md-none d-lg-block"></div>

                {# Séparateur#}
                <hr>

                <div id="img1" class="col-12 row">
                    <div class="field col-12 col-lg-6">
                        <p>Image principale</p>
                        {{ form_errors(formpost.img1) }}
                        {{ form_widget(formpost.img1, {'attr': {"class":'img'}}) }}
                    </div>



                    <div class="field col-12 col-lg-6">
                        <p>texte alternatif</p>
                        {{ form_errors(formpost.img_alt1) }}
                        {{ form_widget(formpost.img_alt1, {'attr': {"class":'alt'}}) }}

                    </div>
                    <p>Infobulle</p>
                    {{ form_errors(formpost.img_title1) }}
                    {{ form_widget(formpost.img_title1, {'attr': {"class":'alt'}}) }}

                </div>
                    {# Séparateur#}
                    <hr>
                </div>
            </div>
        </div>
        <!--SLIDER-->
    <h1 class="form-section-title">Section Slider</h1>
    <div class="col-md-4 col-lg-4 dispo">
        <label for="sl_boolean">presence d'un slider photo?</label>
        <input type="checkbox" class="case" id="sl_boolean"
               name="sl_boolean-shows"
               onclick="ShowHideSlider()">

    </div>
        <div class="corps" id="slider">
            <H2>SLIDER</H2>
            <div class="field capt col-12">
                <p>texte slider</p>
                {{ form_errors(formpost.sl_caption) }}
                {{ form_widget(formpost.sl_caption, {'attr': {"class":'alt'}}) }}

            </div>
            <hr class="col-11">
            <div class="col-12 row" id="img-sl-1">
                <div class="field col-12 col-lg-6">
                    <p>Image slider</p>
                    {{ form_errors(formpost.img2) }}
                    {{ form_widget(formpost.img2, {'attr': {"class":'img'}}) }}
                </div>

                <div class="offset-lg-2 d-md-none d-lg-block"></div>

                <div class="field col-12">
                    <p>texte alternatif</p>
                    {{ form_errors(formpost.img_alt2) }}
                    {{ form_widget(formpost.img_alt2, {'attr': {"class":'alt'}}) }}
                </div>



            </div>
            <div class="col-md-4 col-lg-4 dispo">
                <label for="img-field-2">Autre image ?</label>
                <input type="checkbox" class="case" id="img-field-2"
                       name="img4"
                       onclick="ShowHideSlider()">
            </div>

            <hr class="col-11">
            <div class="col-12 row" id="img-sl-2">
                <div class="field col-12 col-lg-6">
                    <p>Image slider</p>

                    {{ form_errors(formpost.img3) }}
                    {{ form_widget(formpost.img3, {'attr': {"class":'img'}}) }}

                </div>
                <div class="offset-lg-2 d-md-none d-lg-block"></div>

                <div class="field col-12">
                    <p>texte alternatif</p>
                    {{ form_errors(formpost.img_alt3) }}
                    {{ form_widget(formpost.img_alt3, {'attr': {"class":'alt'}}) }}
                </div>
                <div class="col-md-4 col-lg-4 dispo">
                    <label for="img-field-3">Autre image ?</label>
                    <input type="checkbox" class="case" id="img-field-3"
                           name="img-field-3"
                           onclick="ShowHideSlider()">
                </div>

                <hr class="col-11">
            </div>
            <div class="col-12 row" id="img-sl-3">
                <div class="field col-12 col-lg-6">
                    <p>Image slider</p>

                    {{ form_errors(formpost.img4) }}
                    {{ form_widget(formpost.img4, {'attr': {"class":'img'}}) }}

                </div>

                <div class="offset-lg-2 d-md-none d-lg-block"></div>
                <div class="field col-12">
                    <p>texte alternatif</p>
                    {{ form_errors(formpost.img_alt4) }}
                    {{ form_widget(formpost.img_alt4, {'attr': {"class":'alt'}}) }}

                </div>
                <div class="col-md-4 col-lg-4 dispo">
                    <label for="img-field-4">Autre image ?</label>
                    <input type="checkbox" class="case" id="img-field-4"
                           name="img-field-4"
                           onclick="ShowHideSlider()">

                </div>
                <hr class="col-11">
            </div>

            <div class="col-12 row" id="img-sl-4">
                <div class="field col-12 col-lg-6">
                    <p>Image slider</p>

                    {{ form_errors(formpost.img5) }}
                    {{ form_widget(formpost.img5, {'attr': {"class":'img'}}) }}

                </div>

                <div class="offset-lg-2 d-md-none d-lg-block"></div>
                <div class="field col-12">
                    <p>texte alternatif</p>
                    {{ form_errors(formpost.img_alt5) }}
                    {{ form_widget(formpost.img_alt5, {'attr': {"class":'alt'}}) }}

                </div>
            </div>
            <hr class="col-11">

        </div>
    {# VIDEO #}
    <h1 class="form-section-title">Section Vidéo</h1>
    <div class="col-md-4 col-lg-4 dispo">
        <label for="v_boolean">presence d'un lecteur video?</label>
        <input type="checkbox" class="case" id="v_boolean" name="v_boolean"
               onclick="ShowHideVideo()">

    </div>


        <div id="video" class="corps col-lg-12 row">

            <h1 class="col-12">Vidéo</h1>





            <p class="col-md-12 col-lg-3">code d'intégration youtube</p>
            <p class="col-md-12 col-lg-9">
                {{ form_errors(formpost.youtube) }}
                {{ form_widget(formpost.youtube) }}
        </div>
    </div>

    <div class="offset-lg-2 d-md-none d-lg-block"></div>



    <div class="row">
        <div class="offset-6"></div>
        <div class="submit col-lg-4 col-md-6 ">
            {{ form_widget(formpost.submit, { 'label': 'Publier' } ) }}
        </div>
        <div class="offset-lg-2 offset-md-none offset-lg-block"></div>
    </div>



    {{ form_end(formpost) }}


{% endblock %}


