<h1 class="loop-title">Anciens Spectacles !</h1>
<div class="article-loop container-fluid">
    {% for leShow in leShows %}
        {% if leShow.DispoBoolean != true %}

            <div class="show show2 show3 show-medal row">

                <a class="row post-link" href="{{path ('show_id', {'id': leShow.id}) }}">
                    <h2 class="col-6 article-h1 h1-event">
                                <span>
                                    {{ leShow.Titre }}
                                </span>

                    </h2>

                    {#<div class="offset-3"></div>#}
                    <div class="thumb-medal2 col-6 ">

                        <img src="{{asset ('assets/uploads/'~leShow.img1)}}" alt="{{ leShow.ImgAlt1 }}" title="{{ leShow.ImgTitle1 }}">

                    </div>
                    <div class="offset-3 "></div>
                    <div class="offset-md-2 d-none d-md-block"></div>


                    <div class="offset-md-2 d-none d-md-block"></div>

                    <p class="info col-12">
                        {{ leShow.Genre }}
                    </p>

                    <p class="info col-12">
                        durée: {{ leShow.duree }}.
                    </p>

                    <p class="info col-12">A partir de: {{ leShow.MinAge}} ans</p>
                </a>
            </div>
        {% endif %}
    {% endfor %}

</div>
